<?xml version="1.0"?>
<configuration>
  <insightSettings>
    <baseSettings>
      <configChange enabled="true"/>
      <enable state="all"/>
      <propagateException enabled="false"/>
      <senderName name="BuildMonitor"/>
      <exceptionEventTracker time="20" />
      <debugMessageProcess enabled="true" />
    </baseSettings>

    <files default="">
      <autoSave name="save1" onNewDay="false" onMsgLimit="1000000" recycleFilesEvery="14" onSize="200"/>
    </files>

    <!-- Message Patterns -->
    <messagePatterns>
      <messagePattern name="pattern1" pattern="[%time{yyyyMMdd, HH:mm:ss.fff}%][%requestid%][%messagetype%] - %message%" />      
    </messagePatterns>

    <!-- Listener Groups -->
    <listenerGroups active="Debug">
      <group name="Debug" enabled="true" maskIdentities="false">
        <destinations>
          <destination name="Viewer" enabled="true" details="Viewer" />
          <destination name="TextFile" enabled="false" filter="EnterExitFilter" details="TextFile[path=$(workingdir)\Log\BuildMonitorLog.txt; messageDetails=Message|Details; messagePattern=pattern1; autoSave=save1]"/>
          <destination name="BinaryFile" enabled="true" filter="" details="BinaryFile[path=$(workingdir)\Log\BuildMonitorLog.rlg; autoSave=save1]" />
        </destinations>
      </group>
    </listenerGroups>

    <!-- Exception Management -->
    <exceptionManagement mode="on">

      <!-- Text File Publisher (rolling) -->
      <publisher mode="on"
                 name="LogTextEventPublisher"
                 type="RI.Utils.ExceptionManagement.ExceptionLogTextFilePublisher, ReflectSoftware.Insight"
                 filePath="$(workingdir)\Log\ri_exceptions.txt"
                 recycle="7" />

      <!-- Event Log Publisher. Turn off for hosting web applications, Windows Azure and any location where you don't have access to the Event Logs. -->
      <publisher mode="off"
                 name="EventPublisher"
                 type="RI.Utils.ExceptionManagement.ExceptionEventPublisher, ReflectSoftware.Insight"
                 applicationName="ReflectInsight" />
    </exceptionManagement>

    <!-- Message Filtering -->
    <filters>
      <filter name="ErrorWarningFilter" mode="Include">
        <method type="SendError"/>
        <method type="SendException"/>
        <method type="SendFatal"/>
        <method type="SendWarning"/>
      </filter>
      <filter name="EnterExitFilter" mode="Exclude">
        <method type="EnterExitMethod"/>
      </filter>
    </filters>
  </insightSettings>
</configuration>